.container {
    max-width: 1180px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.container__intro-content {
    max-width: 1920px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.container-appoint {
    max-width: 1180px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}