.intro {
    margin-top: -85px;
    z-index: 1;
    position: relative;

    &__content {
        position: absolute;
        top: 25%;
        left: 11%;
    }

    &__content-text {
        font-size: 18px;
        line-height: 21px;
        color: #272727;
        margin-bottom: 10px;
        font-weight: 400;
    }

    &__content-title {
        font-size: 48px;
        line-height: 56px;
        text-transform: uppercase;
        color: #272727;
        width: 543px;
        margin-bottom: 27px;
        font-weight: 700;
    }

    &__content-link {
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        color: #FFFFFF;
        background-color: $main-blue;
        padding: 25px 115px;
        border-radius: 5px;
        margin-bottom: 136px;
        transition: 0.2s ease;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__buttons {
        display: block;
    }

    &__content-btn {
        border: none;
        background-color: $main-yellow;
        padding: 25px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__content-btn:first-child {
        margin-right: 6px;
    }
}


@media only screen and (max-width: 1180px) {
    .intro__content {
        left: 0;
    }
}

@media only screen and (max-width: 1000px) {

    .intro__content-title {
        font-size: 38px;
        line-height: 46px;
        width: 480px;
        margin-bottom: 27px;
    }

    .intro__content-link {
        padding: 20px 85px;
        margin-bottom: 115px;
    }

    .intro__content-btn {
        padding: 15px 15px;
    }
}


@media only screen and (max-width: 800px) {

    .intro__content-text {
        font-size: 15px;
        line-height: 18px;
    }

    .intro__content-title {
        font-size: 30px;
        line-height: 40px;
        width: 380px;
        margin-bottom: 27px;
    }

    .intro__content-link {
        padding: 15px 70px;
        margin-bottom: 100px;
    }
}
